<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
      package="net.swigglesoft.shackbrowse"
      android:versionCode="489"
      android:versionName="7.0.11">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--<permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /><!-- used for periodic network service -->
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.WAKE_LOCK" />


    <application android:theme="@style/AppTheme" android:usesCleartextTraffic="true" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:largeHeap="true" android:name="net.swigglesoft.shackbrowse.SBApplication">
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="net.swigglesoft.shackbrowse.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
		<activity android:label="@string/app_name" android:exported="true" android:hardwareAccelerated="true" android:name="net.swigglesoft.shackbrowse.MainActivity" android:resizeableActivity="true" android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher" android:label="@string/app_name">
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
        		<action android:name="android.intent.action.VIEW"></action>
        		<category android:name="android.intent.category.DEFAULT"></category>
        		<category android:name="android.intent.category.BROWSABLE"></category>
        		<data android:scheme="http" android:host="www.shacknews.com" android:path="/chatty"></data>
        		<data android:scheme="http" android:host="shacknews.com" android:path="/chatty"></data>
        		<data android:scheme="http" android:host="www.shacknews.com" android:path="/laryn.x"></data>
        		<data android:scheme="https" android:host="www.shacknews.com" android:path="/chatty"></data>
        		<data android:scheme="https" android:host="shacknews.com" android:path="/chatty"></data>
        		<data android:scheme="https" android:host="www.shacknews.com" android:path="/laryn.x"></data>
        	</intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="text/plain" />
		    </intent-filter>
		    <intent-filter>
        		<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category
					android:name="android.intent.category.DEFAULT"/>
				<category
					android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="imgur_auth"
					android:scheme="shackbrowse"/>
			</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <meta-data android:name="android.app.default_searchable" android:value=".MainActivity" />
        <activity android:name="net.swigglesoft.shackbrowse.ComposePostView" android:windowSoftInputMode="stateVisible|adjustResize" android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="net.swigglesoft.shackbrowse.MainActivity" />
        </activity>
        <activity android:name="net.swigglesoft.shackbrowse.DonateActivity" android:configChanges="orientation|screenSize|keyboard|keyboardHidden"></activity>
		<activity android:name="net.swigglesoft.shackbrowse.PicUploader" android:exported="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/picuploader_name" android:configChanges="orientation|screenSize|keyboard|keyboardHidden">
		    <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
        </activity>
        <!-- <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAINYb8pl9xts7OT2boxSmcxRPcaTdG_J6wNhE71Q" /> -->

    	<receiver android:name="net.swigglesoft.shackbrowse.notifier.BootReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<service
			android:name="net.swigglesoft.shackbrowse.notifier.NotifierReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service
			android:name="net.swigglesoft.shackbrowse.notifier.FCMIDReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
			</intent-filter>
		</service>

        <receiver android:name="net.swigglesoft.shackbrowse.notifier.NotificationDeleteReceiver" android:exported="true">
            <intent-filter>
                <action android:name="net.swigglesoft.shackbrowse.NOTIFICATION_DELETED" />
            </intent-filter>
		</receiver>

    	<service android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" android:enabled="true" android:name="net.swigglesoft.shackbrowse.PostQueueService" />

        <!-- used for widget and for shackmessage updates -->
<!--		<service-->
<!--			android:exported="false"-->
<!--			android:name="net.swigglesoft.shackbrowse.PeriodicNetworkService">-->
<!--		</service>-->

    	<!-- For starting postqueueservice when network becomes available -->
    	<receiver
            android:name="net.swigglesoft.shackbrowse.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver"
			android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- multi window stuff -->
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h" />

		<!-- fix for pie -->
		<uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>