@media (max-width: 1023px) {
	
	body { }

	body > header {
		width: 100%;
		min-width: 768px !important;
		position: fixed;
		height: 70px; }
	
	.takeover #full-wrap {}
		
	body .in {
		overflow: hidden;
		padding: 0px 20px;
		margin: 0 auto; }
		
	body.home #schedule, body.home.takeover #schedule {
		width: auto; }

	header .in {
		width: 100%;
		padding: 0px; }
	
	header .social {
	  	display: none; }
	
	header #header-left {
	  	width: 70px; }
	  	
	header #header-center {
		width: calc(100% - 290px); }
		
	header.mini .menu-content.hide #header-center {
		width: calc(100% - 370px); }
	  	
	header #header-right, header.mini .menu-content.hide #header-right {
		width: 200px;
		padding-top: 7px;
		padding-right: 10px; }
		
	header #header-right #account-links {
		width: 100%; }
		
	header .links {
		margin-bottom: 5px; }
		
	header.mini .menu-content.hide #account-links a.button.signup-button, header.mini .menu-content.hide #account-links a.button.login-button, header.mini .menu-content.hide #account-links a.button.settings, header.mini .menu-content.hide #account-links a.button.inbox {
		text-indent: -9999px;
		overflow: hidden;
		background-position: center center;
		color: transparent; }
	
	header #logo {
	 	background: white url("../images/final-logo-mark.svg") center center / 40px no-repeat; }
	 	
	header #logo:hover {
		 background-color: #e8e8e8; }
	
	header #top-search input.search-area {
		padding: 4px 23px 2px 7px;
		background: url('../images/icon-input-search.svg') no-repeat scroll 94% 50% / 12px auto #FFF }
	
	header.mini .menu-content.hide #top-search input.search-area {
		width: calc(100% - 32px); }
		
	header.mini .menu-content.hide nav ul li a {
		padding: 10px 11px 8px;
		font-size: 11px; }
		
	header nav ul li a {
		padding: 8px 16px 6px; }
		
	#feature-wrap {
		min-width: 768px; }
		
	#schedule .schedule-item:nth-child(3) {
		margin-right: 0px; }
		
	body.home #schedule .schedule-item:nth-child(4) {
		display: none; }
		
	#schedule .schedule-item {
		width: calc(33% - 5px);
		margin-right: 10px; }
		
	#feature-wrap .inner {
		width: 100%; }
		
	div.hero-right {
		width: 100%; }	
		
	a.hero-a {
		width: 100%;
		height: 400px;
		margin-bottom: 1px; }
	
	a.hero-b {
		width: 33%;
		height: 180px;
		float: left; }
		
	a.hero-c {
		width: 50%;
		height: 180px;
		float: left; }
		
	a.hero-d {
		width: calc(50% - 1px);
		height: 180px;
		float: left;
		margin-left: 1px; }
		
	a.hero-a p.blurb {
		margin-bottom: 12px;
		display: block; }
		
	a.hero-b .hero-bgs .hero-bg, a.hero-c .hero-bgs .hero-bg, a.hero-d .hero-bgs .hero-bg {
		height: 180px;
		background-position: top center; }
		
	a.hero-b ul.tags, a.hero-c ul.tags, a.hero-d ul.tags {
		display: none; }
		
	.hero-small {
		width: calc(67% - 1px);
		float: left;
		margin-left: 1px; }
		
	body #main-content {
		width: 408px; }
		
	body.home article.post, body.home article.post.mini .content {
		width: 100%; }
		
	body article.post a.post-pic {
		height: 225px;
		position: static;
		width: 100%;
		float: none; }
		
	body article.post a.post-pic .comment-count {
		position: relative;
		display: inline-block;
		top: 10px;
		left: 10px; }
		
	body article.post .content {
		width: 100%;
		border: none;
		border-radius: 0px 0px 3px 3px;
		box-shadow: inset 0px 0px 0px 1px #ccc;
		float: none; }
		
	body article.post.sponsored .content {
		min-height: 0px;
		box-shadow: none; }
	
	body.story .story-banner {
		height: 320px;
		min-width: 768px; }
		
	body.story .wide-advertisement {
		background-color: none;
		display: block;
		width: 100%;
		padding: 20px 0px 0px;
		margin-top: 0px;
		min-width: 768px; }
		
	body.story .story-top > .in .story-image {
		height: 320px;
		width: 100%;
		min-width: 768px; }
		
	body.story .story-image .banner-play-bg {
		width: 70px;
		height: 70px;
		margin-top: 108px; }

	body.story .story-image .banner-play-bg .banner-play {
		width: 70px;
		height: 70px;
		background-size: 70px; }

	body.story .story-image .banner-play-bg:hover .banner-play {
		background-size: 68px; }
			
	body.story .story-title-bg {
		display: none; }
		
	body article.post .content h2 {
		padding: 20px 20px 0px;
		margin: 0px 0px 10px; }
		
	body article.post.mini .content h2 {
		margin: 0px;
		margin-bottom: 12px; }
		
	body article.post .meta .author {
		display: none; }
		
	body article.post .meta ul.tags {
		width: 100%;
		text-align: center; }
		
	body article.post .meta ul.tags li h3 a {
		margin-left: 0px;
		margin-right: 10px; }
		
	body.story #main-content, body.results #main-content {
		width: auto; }
		
	body.story .story-meta {
		padding: 0px; }
			
	body.story .story-meta .blurb-box {
		width: calc(100% - 187px); }
		
	body.story #main-content .story-title {
		min-height: 0px; }
			
	body.story #main-content .story-title h1 {
		color: #333;
		text-shadow: none; }
		
	body.story.takeover #main-content .story-title {
		margin: 0px 0px 24px; }
	
	body.results .gallery {
		padding: 29px;
		margin: 0px;
		border-radius: 3px;
		border: none; }
		
	body.home #content-wrap > .in {
		width: calc(100% - 40px); }
		
	body.home #main-content {
		width: calc(100% - 320px); }
		
	#content-wrap #main-content .content-selector h2 {
		width: 0px;
		overflow: hidden;
		padding-right: 0px;	}
		
	#content-wrap #main-content .content-selector ul {
		width: 358px; }
		
	#content-wrap #main-content .content-selector ul li {
		margin-left: 8px;
		font-size: 11px; }
		
	body.story .story-bottom {
		min-width: 100%; }
		
	body.story #sidebar {
		width: 100%; }
		
	body.story .box-advertisement {
		background: #E8E8E8;
		margin-top: 20px;
		border-radius: 3px;
		width: 300px;
		padding: 21px !important;
		float: left;
		border: 1px solid #ccc !important;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 40px; }
		
	.author-box {
		margin-top: 20px;
		margin-bottom: 40px;
		width: calc(100% - 364px);
		float: right; }
		
	.author-box p {
		min-height: 156px; }
		
	.comment-box {
		clear: both; }
		
	.story-bottom .review-box h2.game-title {
		max-width: 475px; }
		
	#sidebar .review-box {
		display: none; }
		
	body.results .search-destination li a span {
		width: 344px; }

	footer {
		padding-top: 20px;
		padding-bottom: 20px; }
		
	footer .in {
		width: auto;
		max-width: 100%;
		padding: 20px;
		line-height: 18px;
		padding-top: 0px;
		padding-bottom: 100px;
		background-size: 75px;
		background-position: center bottom; }
		
	footer .copy {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin-bottom: 5px;
		padding-bottom: 10px; }
		
	footer .foot-left {
		width: 100%;
		padding: 0px;
		text-align: center; }
		
	footer .foot-right {
		width: 100%;
		padding: 0px;
		text-align: center;
		padding-top: 8px; }
		
	footer .foot-right li {
		margin-left: 5px;
		padding-left: 5px;
		border: none; }
		
	body.story.feature article.post section .container {
		width: auto;
		padding: 0px;
		padding-top: 16px; }
		
	body.story.feature article.post aside.meta {
		display: none; }
		
	body.story.feature article.post p {
		width: auto;
		padding: 12px 50px; }

	body.story.feature article.post h2, body.story.feature article.post h3, body.story.feature article.post h4 {
		margin: 24px 50px 12px; }
		
	body.story.feature article.post section .container ul {
		width: auto;
		padding: 12px 150px; }	
		
	body.story.feature article.post .left, body.story.feature article.post .right, aside, body.story.feature article.post aside .articleImage.full img, body.story.feature article.post aside .articleImage img {
		margin: 14px 0px;
		padding: 0px;
		clear: both !important;
		width: 100% !important;
		float: none !important; }
		
	body.story.feature aside { }

	body.story.feature aside p {
		padding-top: 28px !important;
		border-top: 1px solid #e8e8e8; }
		
	body.story.feature article.post aside p {
		padding-left: 50px; }
		
	body.story.feature article.post aside .pull-quote {
		float: none;
		clear: both;
		width: auto;
		padding: 78px 50px 24px }
		
	body.story.feature article.post aside p, body.story.feature article.post section .container ul {
		border-left: none; }
		
	body.story.feature #blurb #blurb-content .summary-right, body.story.feature #blurb #blurb-content .summary-left, body.story.feature #blurb h1 {
		width: auto;
		padding: 25px;
		margin: 0 auto;
		float: none;
		font-size: 72px;
		line-height: 72px;
		text-align: center;
		position: relative; }
		
	body.story.feature article.post #blurb p {
		padding: 0px; }
		
	body.story.feature article iframe {
		max-width: 100%;
		margin: 14px 50px;
		width: calc(100% - 100px) !important; }
		
	body.story.feature .toc.collapse h1 a.home-link {
		width: 1px;
		padding-right: 20px;
		text-indent: 999px; }
		
	body.story.feature .toc.collapse ol.chapters {
		width: calc(100% - 41px); }
		
	body.story.feature .toc.collapse ol.chapters li {
		list-style: none;
		height: 20px;
		padding-right: 0px;
		padding-left: 0px; }
		
	body.story.feature .toc a {
		font-size: 11px; }
		
	body.story.feature .toc.collapse a {
		margin-right: 10px;
		max-width: 120px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: pre; }
		
	body.story article.post p.pull-quote {
		padding: 86px 30px 24px !important;
		font-size: 16px;
		line-height: 24px; }
		
	body.story.feature article.post section .chapter-info {
		height: 500px; }
		
	body.story.feature article.post section .chapter-info h1 {
		text-align: center; }
		
	#zerglayout > div {
		width: 100% !important; }
		
	body.story.feature article.post .articleImage {
		margin: 20px 0px; 	}	
		
	body.story.feature article.post .articleImage img {
		width: 100%; }
}