/* -------------------------------------------------- */
/* Stream ------------------------------------------- */
/* -------------------------------------------------- */

body.stream {
	background: #e8e8e8; }

body.stream #dev-navigator {
	left: 170px;
	margin-top: 0px;
	top: 0px; }
	
body.stream .box-advertisement {
	height: 250px;
	width: 300px;
	float: left;
	padding: 10px;
	border: 0px;
	box-shadow: none;
	margin-bottom: 0px;
	border-radius: 0px;
	background: none; }

body.stream .stream-left {
	position: fixed;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	padding: 10px;
	background: #e8e8e8;
	overflow: hidden;
	transition-delay: .5s;
	transition: width .25s linear;
	-o-transition: width .25s linear;
	-moz-transition: width .2s linear;
	-webkit-transition: width .25s linear; }
	
body.stream .stream-left.shelved {
	width: 10px;
	background: grey;
	transition-delay: .5s;
	transition: width .25s linear;
	-o-transition: width .25s linear;
	-moz-transition: width .2s linear;
	-webkit-transition: width .25s linear; }
	
body.stream .stream-left.shelved header {
	opacity: 0;
	transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
	-moz-transition: opacity .2s linear;
	-webkit-transition: opacity .25s linear; }

body.stream .stream-left header > .in, body.stream .stream-left header #header-left, body.stream .stream-left header #header-right, body.stream .stream-left header #header-right nav {
	width: auto;
	height: auto;
	padding: 0px;
	float: none;
	clear: both; }
	
body.stream .stream-left header #header-right {
	background: url("../images/final-logo-no-mark.svg") top center / 100% no-repeat;
	padding-top: 30px; }
	
body.stream header .line-1 .links {
	width: auto; }
	
body.stream header #account-links a.button {
	text-align: center;
	width: 73px;
	display: block;
	margin: 0px;
	margin-bottom: 8px;
	border-color: black; }
	
body.stream .stream-left header #header-left {
	height: 80px;
	padding: 10px;
	margin: 25px;
	border-radius: 100%;
	background: white url("../images/diag-light.svg") top left / 4px; }	

body.stream .stream-left header #ticker {
	display: none; }
	
body.stream .stream-left header #logo {
	padding: 0px;
	overflow: visible;
	height: 80px;
	border-radius: 100%;
	background: white url("../images/final-logo-mark.svg") center center / 50% no-repeat; }

body.stream .stream-left header nav ul li {
	display: block; }

body.stream .stream-left header nav {
	border-radius: 3px;
	overflow: hidden; }
	
body.stream header #top-search {
	width: auto;
	margin-top: 10px; }
	
body.stream header #top-search input.search-area {
	width: 92px;
	border-color: black;
	background-position: 125px 50%; }

body.stream .stream-left header nav ul li {
	margin: 0px; }
	
body.stream .stream-left header nav ul li a {
	text-align: center;
	text-shadow: none;
	display: block;
	float: none;
	padding: 3px;
	background: #97b5b3;
	border: none;
	color: white;
	margin-bottom: 1px; }
	
body.stream .stream-left header nav ul li a:hover {
	color: #333;
	background: white; }
	
body.stream .stream-center {
	margin-left: 185px;
	background: #e8e8e8;
	width: calc(100% - 520px);
	position: absolute; }
	
body.stream .stream-center.left-shelved {
	margin-left: 45px;
	width: calc(100% - 380px); }
	
body.stream .stream-right {
	position: fixed;
	z-index: 9998;
	top: 0px;
	right: 0px;
	width: 320px;
	height: 100%;
	padding: 0px;
	background: white;
	overflow: hidden; }
	
body.stream .stream-left header {
	height: auto;
	opacity: 1;
	padding-top: 32px;
	background: transparent;
	box-shadow: none;
	position: static;
	-moz-transition-delay: .5s;
	transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
	-moz-transition: opacity .2s linear;
	-webkit-transition: opacity .25s linear;  }
	
body.stream .stream-top {
	background: rgba(0, 0, 0, .5);
	overflow: hidden; }
	
body.stream #content-wrap > .in {
	padding: 0px;
	width: auto; }
	
body.stream #schedule {
	background: rgba(0, 0, 0, .5);
	padding: 5px;
	border-radius: 3px 3px 0px 0px;
	margin: 0px auto;
	width: 1190px;
	margin-top: 20px;
	margin-bottom: 0px;
	z-index: 100; }
	
body.stream #schedule .schedule-item {
	margin: 0px;
	margin-right: 7px;
	border-bottom: none; }
	
body.stream #schedule .schedule-item:hover {
	background-color: white;
	z-index: 9999; }
	
body.stream #schedule .schedule-item .opac {
	width: 234px; }
	
body.stream #schedule .schedule-item:hover .opac {
	border: none;
	background-size: cover; }
	
body.stream #content-wrap .in {
	padding-top: 20px; }
	
body.stream #schedule .schedule-item:last-child {
	margin-right: 0px; }

body.stream #content-wrap {
	padding: 0px; }
	
body.stream #content-wrap .blur-image {
	top: 0px;
	left: 50%;
	margin-left: -50%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	pointer-events: fill;
	background-size: cover;
	background-repeat: none; }

body.stream footer .in {
	width: auto;
	background-image: none; }
	
body.stream footer .foot-left {
	display: none; }
	
body.stream footer .foot-right {
	width: auto;
	float: none;
	margin: 0 auto;
	text-align: center; }
	
body.stream #content-wrap .blur-image .white-opac {
	width: 100%;
	height: 100%; }

body.stream #content-wrap .stream-box {
	background: rgb(58,56,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(58,56,63,1) 0%, rgba(68,62,71,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,56,63,1)), color-stop(100%,rgba(68,62,71,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,56,63,1) 0%,rgba(68,62,71,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,56,63,1) 0%,rgba(68,62,71,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,56,63,1) 0%,rgba(68,62,71,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,56,63,1) 0%,rgba(68,62,71,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a383f', endColorstr='#443e47',GradientType=0 ); /* IE6-9 */
	border-top: none; }
	
body.stream #content-wrap {
	width: calc(100% - 00px);
	min-height: 500px; }

body.stream #content-wrap article.post {
	min-height: 250px;
	margin-bottom: 25px;
	overflow-y: hidden;
	width: 100%;
	float: left; }
	
body.stream #content-wrap article.post .stream-content h1 {
	font-size: 20px;
	padding: 24px 20px 12px;
	margin: 0px;
	float: left;
	width: calc(100% - 90px); }

body.stream #content-wrap article.post .stream-content .stream-meta .stream-meta-top { }
	
body.stream #content-wrap article.post .stream-content .stream-meta-top .comment-count {
	display: block;
	background: url('../images/chat-bubble-black-stroke.svg') no-repeat scroll 2px 2px / 32px 32px transparent;
	color: white;
	position: static;
	float: right;
	margin-top: 12px;
	margin-right: 10px; }
	
body.stream #content-wrap article.post .stream-game {
	text-transform: uppercase;
	float: left;
	width: 100%;
	min-height: 250px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .5); }
	
body.stream #content-wrap article.post .stream-info {
	padding: 10px 30px;
	font-family: tinos, serif;
	font-style: italic;
	color: rgba(255, 255, 255, .85);
	font-size: 16px;
	line-height: 24px;
	text-shadow: 0px 0px 10px black; }

body.stream #content-wrap article.post .stream-game h2 {
	margin: 0px;
	padding: 10px 10px 8px 36px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background: rgba(0, 0, 0, .5) url("../images/twitch-white.svg") 10px 55% / 16px no-repeat;
	width: 204px; }
	
body.stream #content-wrap article.post .stream-game h2 a {
	color: white; }
	
body.stream #content-wrap article.post .stream-content {
	float: left;
	width: calc(100% - 0px);
	overflow: hidden;
	background: rgba(255, 255, 255, .5);
	min-height: 250px;
	margin: 0px; }
	
body.stream #content-wrap article.post .stream-content .stream-meta {
	font-size: 12px;
	background: #F2F2F2;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	color: rgba(0, 0, 0, .5); }

body.stream #content-wrap article.post .stream-content .meta-content {
	border-top: 1px dashed rgba(0, 0, 0, .15); }

body.stream #content-wrap article.post .stream-content .stream-meta h3 {
	float: left;
	font-size: 12px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	padding: 5px 0px 5px 20px;
	margin: 0px;
	width: calc(50% - 20px); }

body.stream #content-wrap article.post .stream-content .stream-meta h3 span {
	color: black; }

body.stream #content-wrap article.post .stream-content .stream-meta .stream-time {
	float: right;
	text-align: right;
	padding: 5px 20px 5px 0px;
	width: calc(50% - 20px); }

body.stream #content-wrap .stream-embed {
	height: 482px; }

body.stream #content-wrap .stream-embed a {
	visibility: hidden; }

body.stream .stream-right .chat-box {
	position: absolute;
	width: 320px;
	top: 300px;
	height: calc(100% - 300px); }
	
body.stream .left-closer {
	position: absolute;
	display: block;
	width: 130px;
	top: 10px;
	left: 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: grey url("../images/stream-close-button.svg") 10px 50% / 12px no-repeat;
	padding: 5px 10px;
	color: white;
	text-align: center; }

body.stream .left-closer.hide {
	display: none; }
	
body.stream .left-opener {
	position: absolute;
	display: none;
	width: 130px;
	top: 0px;
	left: 0px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background: black url("../images/stream-open-button.svg") 10px 10px / 12px no-repeat;
	padding: 5px 10px;
	color: white;
	text-align: center; }
	
body.stream .left-opener.show {
	display: block;
	height: 100% }
	
body.stream .left-opener.show:hover {
	background-color: #524A60; }
	
body.stream .left-closer:hover {
	background-color: #333; }
	
body.stream ul.idTabs {
	list-style: none;
	margin: 0px;
	padding: 0px; }	
	
body.stream ul.idTabs li {
	width: 50%;
	display: block;
	font-size: 12px;
	font-weight: bold;
	float: left;
	text-transform: uppercase; }
	
body.stream ul.idTabs li a {
	display: block;
	color: grey;
	text-align: center;
	padding: 5px; }

body.stream ul.idTabs li a.selected {
	color: black;
	background: #F2F2F2; }
	
body.stream ul.idTabs li:nth-child(even) {
	float: right; }
	
body.stream footer {
	width: 100%;
	min-width: 100%; }